[submodule "shell/oh-my-zsh"]
	path = shell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "shell/zsh-syntax-highlighting"]
	path = shell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shell/juniper-vpn-py"]
	path = shell/juniper-vpn-py
	url = https://github.com/ahoereth/juniper-vpn-py.git
