[alias]
	s = status -sb
	staged = diff --cached
	lg = log --all --graph --pretty=format:'%Cred%h%Creset %C(bold blue)%an%Creset :%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' --abbrev-commit
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[color "diff"]
	old = red bold
	new = green bold
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[url "git@github.com:"]
	insteadOf = "gh:"
	insteadOf = "git://github.com/"
	insteadOf = "https://github.com/"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
	pushInsteadOf = "https://gist.github.com/"
[help]
	autocorrect = 1
[push]
	default = current # http://stackoverflow.com/a/23918418/89484
[user]
	email = a.hoereth@gmail.com
	name = Alexander Höreth
	signingkey = D7C8BF3ECC868C2A
[commit]
	gpgsign = True
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
