[submodule "/home/ahoereth/.oh-my-zsh"]
	path = /home/ahoereth/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "shell/zsh-syntax-highlighting"]
	path = shell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
