[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-syntax-highlighting"]
	path = shell/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "juniper-vpn-py"]
	path = juniper-vpn-py
	url = https://github.com/ahoereth/juniper-vpn-py.git
[submodule "compleat"]
	path = compleat
	url = git://github.com/mbrubeck/compleat.git
